<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LegacySystem.URL" value="http://localhost:52821/ProcessTask"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
      <add name="CS"
        providerName="System.Data.SqlClient"
        connectionString="server=DEV01\SQLEXPRESS;database=Test;user id=sa;password=*******" />
    </connectionStrings>
</configuration>
<!-- providerName="System.Data.ProviderName" -->
